
:root {
    --radius-size: 15px;
}

/* Start first section of project sector */
/* Start firs tpart of sections' project sector */



/* Start a part */
.project-section__partitions .members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-section__partitions .members .member {
    display: grid;
    grid-template-rows: 200px auto;
    width: 240px;
    height: 290px;
    color: #65676B;
    border: 1px solid var(--clr-brown);
    border-radius: var(--radius-size);
    overflow: hidden;
    color: #65676B;
}

.project-section__partitions .members figcaption {
    padding: 15px 5px;
    border-top: 1px solid;
}


.project-section__partitions .member h5 {
    font-weight: 600;
    color: #000;
}

.project-section__partitions .member p {
    margin-top: 10px;
    text-indent: 10px;
}


.project-section__partitions .files label:first-of-type input {
    width: 225px;
}


/* Start Products part */
.project-section__partitions .products {
    border-radius: var(--radius-size);
    padding: 20px 15px;
}

.project-section__partitions .products > *{
    margin-block: 15px;
}
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first partv */

