/* THE same as profile */
.reserved {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.reserved__header .min-header {
    grid-template-columns: 3fr 2fr;
}

.reserved__body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    gap: 25px;
}

.reserved .articles__container > * {
    margin-bottom: 20px;
}

.reserved .left-sidebar {
    padding-left: 10px;
}

.reserved__right-sidebar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 1650px) {
    .reserved .header--second__projects-buttons {
        display: none;
    }
}
/* END the same as profile */


.reserved__content {
    direction: rtl;
}

.reserved__content > * {
    margin-bottom: 20px;
}

.reserved__options--filters {
    display: flex;
    justify-content: space-between;
}

.reserved__options--filters li {
    cursor: pointer;
    font-size: 1.25em;
}

.reserved__options--filters li:hover,
.reserved__options--filters li.active {
    background-color: blue !important;
}

.reserved__options--filters li:active {
    transform: scale(.95);
    box-shadow: 0 2px 2px #000;
}


.reserved__articles > * {
    margin-bottom: 10px;
}


