
/* styles the main app nav bar  */
.sticky {
  
}
.second--nav-container{
  
  /* top: 0; */
  /* left: 0; */
  
  /* background: turquoise; */
}
/* styles the nav ul component */
.nav--items {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}
.nav-item:has(.link-kazomera) {
  position: relative;
}
.nav-item:not(:has(.link-kazomera)) {
  flex: 1;
  position: relative;
  background: var(--accent);
}
.logo-link {
  border-radius: 50%;
  outline: 5px solid var(--accent);
  border-radius: 50%;
  padding: .4rem;
}
.nav-item a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.nav-item:first-child a, .nav-item:first-child {
  border-bottom-right-radius: 2rem;
}
.nav-item:last-child a, .nav-item:last-child {
  border-bottom-left-radius: 2rem;
}
.nav-item:has(.active) {
  --background-color: var(--secondary);
}

/* golbal style for all before and all affter in the ul */
.nav-item:last-child a::before, 
.nav-item:first-child a::before,
.nav-item .link-kazomera::after,
.nav-item .link-kazomera::before 
{
  content: "";
  position:absolute;
  height:100%;
  width: 60px;
  z-index: -1;
}
/* styles all before common styles as all in top postions with cutve top-left */
.nav-item:first-child a::before{
  border-top-left-radius: 50%;
  box-shadow: 0 -30px 0 0 var(--accent);
  right: -60px;
  z-index: -1;
}
/* dtyles all after common styles  as all in top postions*/
/*  */
.nav-item:last-child a::before {
  border-top-right-radius: 50%;
  box-shadow: 0 -30px 0 0 var(--accent);
  left: -60px;
  top: 0;
}
/* .nav-item:last-child and :first-child in case if they active */
.nav-item:first-child a::before, .nav-item:last-child a::before{
  box-shadow: 0 -30px 0 0 var(--background-color, var(--accent));
}
.nav-item .link-kazomera::before {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 30px 0px 0 0 var(--accent);
}
.nav-item .link-kazomera::after{
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: -30px 0px 0 0px var(--accent);
}
