.profile {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 2000px;
}

.profile__body {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: space-between;
    margin-top: 25px;
    gap: 25px;
}

.articles__container > * {
    margin-bottom: 20px;
}

.profile .left-sidebar {
    padding-left: 10px;
}

.profile__right-sidebar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}