.top_nav {
  background-color: #fff;
  height: 60px;
  width: 100%;
  padding: 0 10px;
}

.top_nav .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Services Section */
.top_nav .icons_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.top_nav .icons_btn {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

/* Links Section */
.top_nav .links_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.top_nav .link {
  width: 80px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  transition: 0.3s all;
}

.top_nav .logo_link {
  width: 27px;
}

.top_nav .active .link {
  border-bottom: 1px solid #000;
}

.top_nav .link h4 {
  font-size: 15px;
  font-weight: 400;
}

/* Logo Section */
.top_nav .logo_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

.top_nav .logo {
  font-size: 23px;
  font-weight: bold;
}

.top_nav .serch_bar {
  height: 37px;
  border: 1px solid #707070;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.top_nav .serch_btn {
  width: 38px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #707070;
  cursor: pointer;
}

.top_nav .serch_input {
  display: block;
  width: 253px;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 18px;
}

.top_nav .serch_input::placeholder {
  font-size: 20px;
}
