/* styles of the top nav header */

.header--main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 10px;
}
/* logo styles the header--right container */
.header--right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}
.logo--link {
  display: flex;
}
.slogon {
  font-size: large;
  font-weight: 600;
  letter-spacing: 2px;
}
/* ----------------------------------------------------------- */
/* search bar styles header--center container */
.search--container {
  display: flex;
  position: relative;
}
.search-icon {
  text-align: center;
  outline: transparent;
  border: none;
  min-width: 3rem;
  border-top-right-radius: .5rem;
  cursor: pointer;
}
.search--box {
  font-size: 1.2em;
  padding: .5rem;
  border-top-left-radius: .5rem;
  border: none;
  width:100%;
  min-height: 2.75rem;
}
.search--box:focus {
  outline: 1px solid ;
}
/* ----------------------------------------------------------- */
/* language and user notifications styles header--left container */
.header--left {
  display: flex;
  justify-content: space-around;
}
.language--options {
  display: flex; 
  min-width: 9rem;
}
.language--options span {
  flex: 1;
  display: flex;
  border: 1px solid ;
  cursor: pointer;
  min-height: 2.75rem;
  justify-content: center;
  place-items: center;
}
.language--options [data-toggle="en"] {
  border-top-right-radius: 20%;
}
.language--options [data-toggle="ar"] {
  border-top-left-radius: 20%;
  
}
.notifications--options {
  outline: 1px solid;
  border-radius: 25%;
  width: 3rem;
}

