


/* Start first section of project sector */
.project-sector__header ul:last-of-type li {
    background-color: #fff;
    color: var(--clr-brown)
}

.project-section__body {
    padding: 10px;
}

.project-section__body input {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--clr-brown);
    width: 100%;
}



/* Start first part */
.project-section__partitions #part_0 .box, label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first part */
/* Start first partv */

