.home__body {
    padding-inline: 15px;
    /* height: 3000px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);    

}

.home__leftside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: static;
    margin-right: 15px;
    gap: 10px;
}

.home__rightside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: static;
    top: 15px;
    margin-left: 15px;
    gap: 10px;
}



@media (max-width: 1500px) {
    .home__body {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .home__leftside .notific {
        display: none;
    }
    .home .header--second__options {
        visibility: hidden;
    }
    .home__leftside .adds {
        width: 100%;
    }
    .home__rightside {
        justify-content: flex-end;
    }

    .home__rightside .adds {
        display: none;
    }
}

@media (max-width: 1200px) {
    .home .header--second {
        font-size: .625rem;
    }
    .home .header--second__daul-item {
        font-size: .750rem !important;
    }
    .home .nav__items img {
        width: 25px;
    }
    .home .nav__items a {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    .home__body {
        grid-template-columns: 1fr 2fr;
        margin-top: 25px;
    }
    .home__rightside {
        display: none;
    }    
}


@media (max-width: 776px) {
    .home__body {
        grid-template-columns: 1fr;
    }
    .home__leftside {
        display: none;
    }
}