.projects__header {
    background-color: #fff;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 20px 20px 0 0;
}

.projects__header-search {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #F2F3F5;
    overflow: hidden;
}
.projects__header input {
    flex: 1;
    align-self: stretch;
    outline: none;
    border: none;
    background-color: transparent;
}

.projects__header i {
    font-size: 20px;
    color: var(--clr-brown);
    cursor: pointer;
}

.projects__header i:hover {
    color: #333;
}


.projects__content article:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

