
/* Start articles */
.foryou__articles {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid #bbb;
    overflow: hidden;
}

.foryou__articles-header {
    padding: 10px;
    direction: rtl;
    display: flex;
    justify-content: space-between;
    
}
.foryou__articles-header i {
    color: var(--clr-brown);
}
.foryou__articles-header h3 {
    font-size: 1.25em;
}





.foryou__articles-body {
    padding: 7px;
}

.foryou__articles-more {
    border-top: 1px solid #bbb;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #333
}

.foryou__articles-more:hover {
    background-color: #eeeeee5a;
}


.foryou__articles .article {
    margin-bottom: 10px;
}


.foryou__articles .article__header-tools-items,
.foryou__articles .article__more {
    display: none;
}

.foryou__articles .article__header {
    grid-template-columns: 1fr;
}