.header--second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-block: 25px;
    padding-inline: 15px;
    gap: 10px;
}

.header--second__options,
.header--second__projects-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header--second__options li ,
.header--second__projects-buttons li {
    display: flex;
    justify-content: center;
    border: 1px solid var(--clr-brown);
    border-radius: var(--round-acirc);
}

.header--second__options span ,
.header--second__projects-buttons span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex: 1;
    cursor: pointer;
}

.header--second__options {
    color: var(--clr-brown);
    width: var(--width-section)
}

.header--second__options .header--second__daul-item {
    flex: 1;
    overflow: hidden;
    font-size: 18px;
}

.header--second__options li:first-of-type {
    border: none;
}

.header--second__options li:first-of-type span {
    padding-inline: 5px;
}

.header--second__daul-item span:hover {
    background-color: var(--clr-brown);
    color: #fff;
}

.header--second__projects-buttons {
    justify-content: flex-end;
}

.header--second__projects-buttons a {
    color: #fff;
    border: 1px solid var(--clr-brown);
    border-radius: var(--round-acirc);
    background-color: var(--clr-brown);
}

.header--second__projects-buttons a:hover {
    background-color: #7b7a7a;
}