.article {
    border: 1px solid #bbb;
    background-color: #fff;
    direction: rtl;
    border-radius: 15px;
    margin-bottom: 15px;
}

.article__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
    gap: 10px;
    position: relative;

}

.small .article__header {
    justify-content: flex-end;
}

.article__header-tools-items {
    display: flex;
    overflow: hidden;
}

.article__header-tools-items li {
    cursor: default !important;
    margin-inline-end: 5px;
}


.article__header-tools-items li.article__header-tools-more {
    color: var(--clr-brown);
    background-color: transparent;
    padding: 0;
    font-size: 1.25rem;
    align-self: center;
    cursor: pointer !important;
    border-radius: 0;
    border: none;
}

.article__header-tools-items li.article__header-tools-more:hover {
    background-color: transparent;
    color: #938e8e;
}


.small .article__header-tools-items {
    display: none;
}

.article__header-account,
.article__header-account i {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}


.article__header-account p {
    width: max-content;
}


/* Start basics of body */
.article__body {
    padding: 10px;
    display: grid;
    align-content: flex-start;
    gap: 10px;
}

/* End basics of body */

.article__more-options {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    border-top: 1px solid #ddd;
}

.small .article__more-options {
    display: none;
}

.article__more-options li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}


.article__more-options li:not(:last-of-type) {
    border-left: 1px solid #ddd;
}

.article__more-options li > * {
    transition: transform .3s;
    cursor: pointer;
}
.article__more-options li:hover > * {
    color: var(--color-icon, #555);
}


.article__header-data-label {
    top: 100%;
    right: 10px;
    display: none;
}
.article__header-data-label ul {
    padding: 5px;
    background-color: var(--clr-brown);
    flex-direction: column;
    gap: 0;
    border-radius: 4px;
    box-shadow: 0 0 10px #777;

}

.article__header-data-label li:not(:last-of-type) {
    border-bottom: 1px solid #707070a4;
}