/* Start a part */
.members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.members .member {
    display: grid;
    grid-template-rows: 200px auto;
    width: 240px;
    height: 290px;
    color: #65676B;
    border: 1px solid var(--clr-brown);
    border-radius: var(--radius-size);
    overflow: hidden;
    color: #65676B;
}

.members figcaption {
    padding: 15px 5px;
    border-top: 1px solid;
}


.member h5 {
    font-weight: 600;
    color: #000;
}

.member p {
    margin-top: 10px;
    text-indent: 10px;
}
