/* this index file contains all tags seclectors try to not use any or put tags selector any where else
    in the project */
:root {
  --primary: #3b4444;
  --secondary: #4b4c4f;
  --accent: #544c5c;
  --text: #0e0d0b;
  --error: #f70707;
  --focus: #838482;
  --active: #b4b3b3
  --site-dirction: rtl;
  --font-size: 1rem;
  line-height: 1.5;
  color-scheme: light dark;
  font-family: system-ui,
              Inter, Avenir, 
              Helvetica, Arial, 
              sans-serif,  
              -apple-system, BlinkMacSystemFont, 
              'Segoe UI', Roboto, 
              Oxygen, Ubuntu, 
              Cantarell, 'Open Sans', 'Helvetica Neue';
              text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  /* scroll-behavior: smooth; */
  /* these varables created by the old developer and will be review later */
    --round-acirc: 21px;
    --round-middle: 14px;
    --rounded: 7px;
--clr-main: #E4E6EB;
  --clr-brown: #707070;
  --clr-brown-light: #707070bb;
  --clr-ligh: #F2F3F5;
    --section-width-5: 250px;
    --section-width-3: 225px;
    --width-section: 225px;
    
    --section-width-1: 200px;
    --width-adds: 200px;

    --border-clr-light: #bbb;
    --border-clr-lighter: #c6c8d1;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
body {
  
}
header {
  grid-area: 1/1/1/-1;
  min-width: 0;
}
main {
  grid-area:  2/1/2/5;
  min-height: 100svh;
  min-width: 0;
  background: var(--border-clr-light);
}
aside  {
  grid-area: 2/6/2/5;
  min-width: 0;
}
footer {

  grid-area: 3/1/3/-1;
}
ul {
  list-style: none;
  padding: 0;
  
}
a {
  text-decoration: none;
  display: flex;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
}
