.cont__articles .article__body {
    grid-template-columns: auto 1fr;
}

.cont__articles .article__body-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cont__articles .article__body-img img {
    width: 100%;
}

.cont__articles .article__body h3 {
    font-size: 1.25em;
}

.cont__articles .article__body p {
    margin-top: 5px;
    text-indent: 10px;
}
